.date {
  width: 100%;
}

.date-form {
  display: flex;
  flex-direction: column;
  gap: 4.7rem;
  width: 100%;
  font-family: inherit;
}

.date__controlls {
  display: flex;
  align-items: center;
  width: 75%;
  justify-content: flex-start;
  gap: 2rem;
}

.date__controll-label {
  font-size: 1.4rem;
  font-weight: 700;
}

.date__control input {
  padding: 1.2rem 1.4rem;
  border-radius: 8px;
  width: 100%;
  border: 1px solid #dcdcdc;
  font-size: 3.2rem;
  color: #151515;
  font-family: 700px;
}
