.app {
  display: flex;
  align-items: center;
  justify-content: center;
  width: 100%;
  min-height: 100%;
}

.app__content {
  width: 80rem;
  max-width: 80rem;
  background-color: #fff;
  padding: 5.6rem;
  border-radius: 2.4rem 2.4rem 20rem 2.4rem;
  transition: all 0.3s;
  height: 651;
}
